body {
  height: 100%;
  color: black;
  font-family: "Mirza", cursive;
  font-size: 16pt;
  text-align: center;
  padding: 1% 10%;
  background: repeating-linear-gradient(
    to right,
    #fbceb1,
    #fbceb1 10px,
    #ffe4c4 10px,
    #ffe4c4 20px
  );
}

body {
  opacity: 0;
}

.fadeIn {
  transition: opacity 3s;
  opacity: 1;
}

select {
  background: #abcdef;
}
header {
  font-family: "Emilys Candy", cursive;
  margin-bottom: 18px;
  font-size: 50pt;
  border-radius: 70px;
  background: radial-gradient(ellipse, #fdf4e3 60%, #abcdef);
  padding: 40px 0;
}
h2 {
  font-size: 24pt;
  margin-bottom: 10px;
}

header,
.search,
.pics {
  background-color: #fdf4e3;
}
.search {
  padding: 10px 10px 0 10px;
  display: flex;
  background: radial-gradient(ellipse, #fdf4e3 80%, #abcdef);
  border-radius: 30px;
  align-items: center;
}
.column {
  flex: 1;
}
.pics {
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
  background: radial-gradient(ellipse, #fdf4e3 80%, #abcdef);
  border-radius: 30px;
  padding: 10px 10px 0 10px;
}
.buttons {
  flex-wrap: wrap;
  display: flex;
  padding: 0 20px;
  margin: 20px 10px 20px 0;
}

.input {
  display: flex;
  width: 180px;
  flex-direction: column;
}
.topics {
  font-family: "Inconsolata", monospace;
  font-size: 12pt;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #00416a;
  border-radius: 10px;
  background-color: #abcdef;
  outline: 0;
  cursor: pointer;
}
.topics:hover {
  box-shadow: inset 0 0 10px #0869a6;
  cursor: pointer;
}

.topics:active {
  box-shadow: inset 0 0 10px #0869a6;
  padding: 5px 6px;
  margin: 5px 9px;
  cursor: pointer;
}

#usersInput {
  height: 20px;
  border: 1px solid #00416a;
  font-size: 11pt;
  border-radius: 5px;
}
.image {
  cursor: pointer;
  padding: 5px;
}
.select {
  display: flex;
  justify-content: center;
}

#add {
  font-family: "Inconsolata", monospace;
  font-size: 12pt;
  padding: 5px 10px;
  margin: 5px;
}
